<div class="container">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2 mb-5">
    <h1>Weather Forecast</h1>
    <p>Get the 5 day forecast from anywhere in the world</p>
    <form class="form-inline" (ngSubmit)="onGetForecast(f)" #f="ngForm">
      <div class="form-group">
        <input type="text" class="form-control"placeholder="Enter City Name" name="city" ngModel/>
      </div>
      <div class="form-group">
        <p>or</p>
      </div>
      <div class="form-group">
        <input class="form-control" placeholder="Enter Zip Code" name="zip" ngModel/>
      </div>
      <button class="btn btn-primary" type="submit">Submit</button>
    </form>
  </div>
</div>
<app-d3graph *ngIf="forecast" [forecast]="forecast">Loading...</app-d3graph>